.display-4 {
    font-size: 2.5rem;
}

.engagments {
    font-size: 1.0rem;
    display: inline-flex;
    font-weight: 200;
}

.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.fa-twitter {
    color: #00acee;
}

.fa-youtube {
    color: rgb(187, 22, 22);
}

#Duration>option {
    margin: 4px 0 4px 0;
}

option>span {
    color: #000000;
    padding: 8px 16px;
    border: none !important;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

.fs25 {
    font-size: 25px;
}

.hastags {
    background-color: #f0efe4;
    border-radius: 10px 0 10px 0;
    padding: 5px;
    line-height: 3rem;
}

.infimage {
    grid-area: infimage;
    width: 400px;
}

.infusername {
    grid-area: infusername;
}

.infsocial {
    grid-area: infsocial;
    font-size: 50px;
}

.infmediacount {
    grid-area: infmediacount;
}

.inffollowers {
    grid-area: inffollowers;
}

.infengrate {
    grid-area: infengrate;
}

.infcampainer {
    grid-area: infcampainer;
}

.influncerlist {
    display: grid;
    grid-template-areas:
        'infimage infusername infusername infusername infsocial'
        'infimage infmediacount inffollowers infengrate infcampainer'
        'infimage infmediacount inffollowers infengrate infcampainer';
    background-color: rgb(235, 235, 235);
    border-bottom: #9900ff 4px solid;
    margin-top: 20px;
}

.influncerlist>div {
    background-color: rgb(235, 235, 235);
}

.infusername,.infsocial,.infmediacount,.inffollowers,.infengrate, .infcampainer, .userimage {
    text-align: center;
    padding: 2px;
}
.infusername{
    text-align: left;
}
.userimage{
    background-position: right 50% bottom 90%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    border-bottom: 0px;
}
.infsocial>i{
    padding: 10px;
    font-size: 50px;
}

.engagments span {
    display: ;
    min-width: 58px;
}
.engagments span.shortcount{
    display: block;
    min-width: 58px;
}
.influncerImageInTable{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    float: left;
    border-radius: 50% 50% 10% 50% ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
table {
  border-collapse: separate;
  border-spacing: 0 20px;
}

.socialmediaiconintable {
    position: absolute;
    font-size: 22px;
    width: 32px;
    height: 32px;
    left: 73px;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 50% 0 0 0;
}
tbody>tr>td:nth-child(1){
    width: 100px;
}
tbody>tr>td:nth-child(2){
    text-align: left!important;
}