* {
  box-sizing: border-box;
  -webkit-transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), color 0.3s ease;
  transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), color 0.3s ease;
}
.rela-block {
  display: block;
  position: relative;
  margin: auto;
  top: ;
  left: ;
  right: ;
  bottom: ;
}

.rela-inline {
  display: inline-block;
  position: relative;
  margin: auto;
  top: ;
  left: ;
  right: ;
  bottom: ;
}
.floated {
  position: relative;
  margin: false;
  top: ;
  left: ;
  right: ;
  bottom: ;
  float: left;
  height: max-content;
}

body {
  font-family: "Roboto";
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 24px;
  background-color: #2e44b9;
}

.container-profile {
  z-index: 1;
  background-color: #2e44b9;
  padding-top: 20px;
}

.profile-card {
  width: calc(100% - 40px);
  margin: 0px auto;
  background-color: #fff;
  box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.26);

}

.profile-card-two {
  padding-top: 1px;
  margin: 30px 20px;
  background-color: #fff;
  box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.26);
}

.fiftypercent {
  width: 47%;
  float: left;
}

.height90 {
  height: 90vh;
  overflow: auto;
}
.height50 {
  height: 50vh;
  overflow: auto;
}
.margintopzero{
  margin-top: 0;
}

.profile-pic {
  display: false;
  /* position: absolute; */
  margin: false;

  height: 180px;
  width: 180px;
  border: 10px solid #fff;
  /* border-radius: 100%; */
  background: url("https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-9/s960x960/82440198_2396143890490929_9221768974671282176_o.jpg?_nc_cat=103&_nc_sid=85a577&_nc_ohc=8bfaSVLqj6cAX_V_y2b&_nc_ht=scontent.fdel3-1.fna&_nc_tp=7&oh=99df269543abd444d4a3f73a0bc13cdb&oe=5EEA8774") center no-repeat;
  background-size: cover;
  float: left;
}
.charts{
  font-size: 24px;
}

.profile-name-container {
  margin: 0 auto 10px;
  padding: 10px;
}

.user-name {
  padding-top: 20px;
  font-family: "Montserrat";
  color: #0f0d13;
  font-size: 24px;
  letter-spacing: 3px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 12px;
}
.stars{
  padding-top: 0px;
}  


.user-desc {
  letter-spacing: 1px;
  color: #999;
  text-align: left;
}

.profile-card-stats {
  padding: 10px 0px;
  margin: 10px 10px;
  text-align: center;
  overflow: hidden;
}

.profile-card-stats-two {
  padding: 10px 0px;
  margin: 0px 0px;
  width: 50%;
  height: max-content;
  text-align: center;
  overflow: hidden;
}

.profile-stat {
  padding-top: 20px;
  height: 100%;
  width: 20%;
  border-radius: 5px;
  font-size: 29px;
  font-weight: 700;
  color: rgb(35, 47, 187);
}
.profile-stat-m {
  padding-top: 20px;
  text-align: center;
  height: 100%;
  width: 33.3333%;
  border-radius: 5px;
  font-size: 29px;
  font-weight: 700;
  color: rgb(35, 47, 187);
}

.profile-stat-m:after {
  color: #999;
  font-size: small;
}
.profile-stat:hover {
  background-color: #d0dfdc;
  z-index: 200;
}

.profile-stat:after {
  color: #999;
  font-size: small;
}

.post::after {
  content: "Total Post";
}

.followers::after {
  content: "followers";
}

.following::after {
  content: "following";
}

.avglike::after {
  content: "Avg Likes";
}

.engrate::after {
  content: "Eng.Rates";
}

.avgcomment::after {
  content: "Avg Comments";
}

.likecommntratio::after {
  content: "Like:Comment";
}

.photovideoratio::after {
  content: "Photo:Video";
}

.followerfollowingratio::after {
  content: "Follower:Following";
}
.fraudscore::after {
  content: "Fraud Score";
}
.monthlypost::after {
  content: "Monthly Post";
}

.checked {
  color: orange;
}
.monthlystats{
  font-size: 5em;
}
.image {
  width: 240px;
  height: 200px;
  cursor: pointer;
  margin: 0 18px 18px;
  overflow: hidden;
  border-radius: 5px;
  border: 10px solid #fff;
  box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.26);
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover !important;
  -webkit-transition: 0.2s cubic-bezier(0.5, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0.5, 0, 0.2, 1);
}

.image:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
  box-shadow: 0 2px 18px -2px rgba(0, 0, 0, 0.3);
}

.tagged-users-list {
  margin-bottom: 10px;
}

.tagged-users-list li {
  display: inline-flex;
  margin: 0 5px 5px 0;
  padding: 0 8px 5px 0;
  align-items: center;
}

.tagged-users-list li a {
  text-decoration: none;
  color: #22baa0;
}

.tagged-users-list li .insta-profile {
  display: flex;
  align-items: center;
}

.tagged-users-list li .insta-profile .tag-photo {
  width: 30px;
  display: block;
  border-radius: 2px;
}

.tagged-users-list li .insta-profile .details {
  padding-left: 10px;
}

.tagged-users-list li .insta-profile .details .uname {
  font-weight: 500;
  display: block;
  color: #22baa0;
}

.tagged-hastags-list li.hastags {
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 2px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  line-height: 1.2;
  padding: 0;
  margin: 0 5px 5px 0;
  color: #2e44b9;
}

@media screen and (max-width: 630px) {
  .image {
    width: calc(100% - 40px);
    height: 0px;
    padding-bottom: 60%;
  }
}

@media screen and (max-width: 550px) {
  .profile-card-stats {
    padding: 20px 10px;
    margin: 20px 0px;
  }

  .profile-pic {
    height: 140px;
    width: 140px;
    top: -70px;
  }

  .profile-card {
    padding-top: 70px;
    margin: 50px auto 30px;
  }
}
/* hideinchart */
#ac_layer_1d,#ac_path_1e,.anychart-credits,#ac_layer_1z,#ac_layer_1d>path{
  display: none;
}